@page
@model AstroBackEnd.Pages.profile.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Profile.Name" class="control-label"></label>
                <input asp-for="Profile.Name" class="form-control" />
                <span asp-validation-for="Profile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.BirthDate" class="control-label"></label>
                <input asp-for="Profile.BirthDate" class="form-control" />
                <span asp-validation-for="Profile.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.BirthPlace" class="control-label"></label>
                <input asp-for="Profile.BirthPlace" class="form-control" />
                <span asp-validation-for="Profile.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.ProfilePhoto" class="control-label"></label>
                <input asp-for="Profile.ProfilePhoto" class="form-control" />
                <span asp-validation-for="Profile.ProfilePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
