@page
@model AstroBackEnd.Pages.planet.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Planet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Planet.Name" class="control-label"></label>
                <input asp-for="Planet.Name" class="form-control" />
                <span asp-validation-for="Planet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planet.Title" class="control-label"></label>
                <input asp-for="Planet.Title" class="form-control" />
                <span asp-validation-for="Planet.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planet.Icon" class="control-label"></label>
                <input asp-for="Planet.Icon" class="form-control" />
                <span asp-validation-for="Planet.Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planet.Decription" class="control-label"></label>
                <input asp-for="Planet.Decription" class="form-control" />
                <span asp-validation-for="Planet.Decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planet.Tag" class="control-label"></label>
                <input asp-for="Planet.Tag" class="form-control" />
                <span asp-validation-for="Planet.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planet.MainContent" class="control-label"></label>
                <input asp-for="Planet.MainContent" class="form-control" />
                <span asp-validation-for="Planet.MainContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
